<div class="container">
	
	<div class="row">
		<div class="col-md-3">
			
		</div>
		   <div class="col-md-7">
		    <form class="form-horizontal" role="form" action="/schools/school_login" method="post" >
		   	<div class="row">
		   	 <div class="panel panel-default">
		   	 	<div class="panel-heading">
		   	 		<div class="panel-title">
		   	 			
		   	 		</div>
		   	 		<div class="panel-body" >
		   	 			
		   	 			<div class="row" id="user">
		   	 			
                            <% @quiz.each do |quiz| %>
                           <label for="inputEmail3" class="control-label">question <%=quiz.id%></label>

                           <div class="form-group">
                                  <div class="col-sm-10">
                                  <%=quiz.question%>           
                                   </div>
                                 </div>
                            <div class="form-group">
             
              
               <label>A: <input type="radio" name="group1" value="A" class="control-label"> </label><%=quiz.a%><br>
              <label>B: <input type="radio" name="group1" value="B" class="control-label"> </label><%=quiz.b%><br>
              <label>C: <input type="radio" name="group1" value="C" class="control-label"> </label><%=quiz.c%><br>
              <label>D: <input type="radio" name="group1" value="D" class="control-label"> </label><%=quiz.d%><br>

                                   </div>
                               
		   	 			<%end%>	
		   	 			
		   	 			
		   	 		
		   	 		
		   	 		
		   	 		</div>
		   	 
		   	 	</div>
		   </div>
		   	 </div>
		   </div>
		<div class="row">
		   	 	<div class="form-group">
                      <div class="col-sm-10" id='paginator'>
                         <%= paginate @quiz, :remote => true %>         
                           </div>
                        </div>
		   	 	
		   	 </div>
	
		</form>
		 </div>
		   <div class="col-md-2" id="here"></div>
	
	</div>
	
</div>
