<% provide(:title, 'Home|'+@teacher.t_name.capitalize) %>

<div class="container" style="min-height: 500px">
   <div class="row">
   	<div class="col-md-3">
   		<div class="row">
   		<div class="panel panel-default">
   			<div class="panel-heading">
   				<div class="panel-title">
   					
   				</div>
   				<div class="panel-body">
   				        <div class="row">
   				   	          <div class="col-md-4" >
   				   	        <img class="img-responsive" style="height: 50px; width:50px;border-radius: 5px;"  src="<%=@teacher_img.image_url%>"   />
   				   	             </div>
   				             <div class="col-md-8" style="margin: 0px;padding: 0px" >
   				      	        <div class="text-left text-capitalize h4" style="margin-top: 10px">
   				      		 
   				      		   <%=@teacher.t_name.capitalize%> <%= @teacher.lastname.capitalize%><br/>
   				      		 <span class="small" style="margin-left: 5px">Teacher</span>
   				      	</div>
   				      </div>
   				   </div>	
   				</div>
   			</div>
   		 </div>
   		</div>
   <div class="row">
   	<div class="col-md-12 well">left down content</div>
   </div>
   	</div>
   	<div class="col-md-7">
   		<div class="row">
   		
   		 <div class="panel panel-default">
   			<div class="panel-heading">
   				<div class="panel-title">
   					<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#note" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil">Note</span></a></li>
  <li><a href="#assign" role="tab" data-toggle="tab"><span  class="glyphicon glyphicon-list-alt">Assignment</span></a></li>
  <li><a href="#message" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-envelope">Messages</span></a></li>
  <li><a href="#quiz" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-dashboard">Quiz</span></a></li>
</ul>

   					</div>
   				</div>
   				<div class="panel-body">
   					<div class="row">
   					
   					<div class="col-md-10 " >
   					<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="note">
       
              <form role="form" action="/notes/add_note" method="post" data-remote='true'>
  <div class="form-group">
    
    <div class="col-sm-12">
  
   <textarea  class="form-control" id="note_text" placeholder="enter your note here" name="notedata[notes]" required></textarea>
   
    </div>
  
  </div>
  <div class="form-group">
    
    <div class="col-sm-12 a"  style="display: none">
    <input type="search"  class="form-control"  placeholder="Name of student or Class" required="">

   
    </div>
  </div>
    <div class="form-group">
    
    <div class="col-sm-3" >
    <input type="submit"  class="a form-control btn btn-primary" id="note_submit" style="display: none" value="craate  note">

   
    </div>
  </div>
    
     </form>      
     
         </div>
         <div class="tab-pane fade" id="assign">
       content for message
        </div>
      <div class="tab-pane fade" id="message">
       content for message
        </div>
        <div class="tab-pane fade" id="quiz">

        <span><a href="/quizzes/quiz_data" ><span class="glyphicon glyphicon-plus btn btn-primary">Create New Quiz</span></a></span>  or <span> <a href="" data-toggle="modal" data-target="#myModal"> Load a previously created Quiz</a></span>
        
        	
        	
       
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Total Quiz</h4>
      </div>
      <div class="modal-body">
       <ul>
        	<%if @quiz%>
        	<%@quiz.each do |quiz|%>
        	
        	<li>
        	<div>
        	<span style="color: blue"><%=quiz.quiz_name%></span></br>
        	<a href="/quizzes/create_quiz?id=<%=quiz.id%>">Edit</a>  
        	<a href="/quizzes/create_quiz?id=<%=quiz.id%>">delete</a>
        	</div>
        	</li>
        	
        	<%end%>
        	<%end%>
        	</ul>
      </div>
     
    </div>
  </div>
</div>
        </div>
        
   					</div>	
   				    </div>
   				</div>
   			</div>
   			</div>
   		</div>
   	<div class="row">
   		
   			<div class="panel panel-default">
   				<div class="panel-body" id="note_added">
   					
   						<%if @note%>
        	<%@note.each do |note|%>
        	
        	<div class="row panel panel-default" >
        	  <div class="col-md-2" style="margin: 0px ;padding: 0px; ">
        	  	<img class="img-responsive "  style="float:left; height: 50px; width:50px;border-radius: 5px ;margin-left: 40px"  src="<%=@teacher_img.image_url%>"   />
        	  </div>  	
        	<div class="col-md-9 text-left" style="margin: 0px; padding: 0px"><span class="h6 small"><%=note.created_at.strftime("%A, %d %b %Y %l:%M %p")%></span><br />
        	  	<span class="text-left" style="word-wrap:break-word"><%=note.notes%> 
        	 </div>  
        	<div class="col-md-1 close">
        	  	<a href="/notes/delete_note?id=<%=note.id%>" data-reomte='true'>&times;</a>
        	  </div>  
        	
        	</div>
        	<%end%>
        	<%end%>
   						
   					
   					
   				</div>
   			</div>
   		
   		
   		
   		
   		
   		
   	</div>
   	</div>
   	<div class="col-md-2">
   	right content	
   	</div>
   	
   	
   	
   	
	<script>
		$(document).ready(function(){
			$("#note_text").click(function(){
				$('.a').show();
				
			});
			$("#note_submit").click(function(){
				
				$(this).val('loding....');
			});
			
		});
		
		
	</script>
	</div>
	
</div>
