<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>School id</th>
      <th>Name</th>
      <th>email</th>
      <th>phone</th>
      <th>city</th>
    <th>state</th>
    <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @school.each do |school| %>
      <tr> <td><%= school.SCHOOL_ID%></td>
  
        <td><%= school.SCHOOL_NAME %></td>
         <td><%= school.email %></td>
   <td><%= school.phone1 %></td>
   <td><%= school.city %></td>
   <td><%= school.state %></td>
   <td><%= school.is_Active %></td>
  <td><a href="/schools/school_delete?id=<%=school.SCHOOL_ID%>"> delete</a></td>
              </tr>
   <%end%>
  </tbody>
</table>
</div>
</div>
</div>